header{
    width: 960px;
    border-bottom: 10px dashed #666;
    height: 80px;
    margin-bottom: 30px;
    margin: auto;
}
header section{
    float: left;
    height:30px;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 200px;
}
header img{
    float: left;
    margin-right: 5px;
}
header h1{
    font-family: cursive;
    font-size: 35px;
}
header p{
    padding-left: 50px;
    padding-top: 8px;
    font-family: Helvetica;
    font-size: 8px;
    color: #444;
}
header div{
    float: right;
    height: 30px;
    width: 200px;
    margin-top: 15px;
    margin-bottom: 15px;
}
header li{
    display: inline-block;
    margin-top: 8px;
}
header div img{
    height: 20px;
    margin-right: -1px;
}
#social-with-space{
    margin-right: 6px;
}
main{
    width: 960px;
    margin: 50px auto;
}

#header-for-main {
    margin-bottom: 20px;
}
main h1{
    font-size: 35px;
    font-style: bold;
    margin-bottom: 4px;
}
main p{
    font-size: 9px;
    color: #666;
}
main {
    font-family: helvetica;
}
#print-click{
    float: right;
    width: 41px;
    color: #666;
}
#print-click img{
    float: left;
    margin-right: 1px;
}
#hero-img{
    width: 960px;
    margin-bottom: 16px;
}
.recipe-instructions{
    margin-bottom: 20px;
    color: #444;
    font-size: 14px;
    font-family: serif;
    text-indent: 17px;
}
main section{
    height: 326px;
    padding-bottom: 30px;
    border-bottom: 10px dashed #666;
    margin-bottom: 20px;
}
main section img{
    width: 960px;
    position: absolute;
    z-index: -1;
}
#recipe-list{
    background-image: url("img/list-bg.png");
}
.strikethrough:checked + span{
    text-decoration:line-through
  }
main ul{
    font-size: 22px;
    font-family: cursive; 
    height: 300px;
    margin-top: 39px;
    line-height: 33px;
    color: rgba(97, 62, 21, 0.925);
}
main ul:first-of-type{
    float: left;
    width: 300px;
    margin-left: 100px;
}
main ul:last-of-type{
    float: right;
    width: 420px;
    margin-right: 60px;
}

#about-me{
    height: 80px;
}
#about-me img{
    float: left;
}
#about-me button{
    float: right;
}
#about-me h2{
    padding-top: 5px;
    width: 500px;
    margin-bottom: 10px;
}
#about-me p{
    font-size: 14px;
    padding-left: 80px;
}
footer{
    text-align: center;
}